# Cache and logs
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Config
/config/dev.php
/config/prod.php

# Managed by Composer
/vendor/

# Assets and user uploads
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Portus
/var/private_uploads/*

#PhpStorm
.idea