# Cache and logs
var/
logs/

# Config
/config/dev.php
/config/prod.php

# Managed by Composer
/vendor/

# Assets and user uploads
/web/uploads/
web/assets/bootstrap/
web/assets/font-awesome/
web/assets/jquery/
web/assets/pace/
web/assets/simple-line-icons/
web/assets/tether/

# PHPUnit
tests/Controller/

# Portus
var/private_uploads/*

#PhpStorm
.idea

#Others
.DS_Store
.htaccess

